body{
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
    color: black;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding: 1rem 2rem;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
}